@using MiniLearningSystem.Models.ViewModels.Course
@model IEnumerable<CourseIndexVm>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .src-image {
        display: none;
    }

    .card {
        overflow: hidden;
        position: relative;
        border: 1px solid #CCC;
        border-radius: 8px;
        text-align: center;
        padding: 0;
        background-color: #284c79;
        color: rgb(136, 172, 217);
        height: 420px;
        width: 370px;
        margin-bottom: 15px;
    }

        .card .header-bg {
            /* This stretches the canvas across the entire hero unit */
            /*position: absolute;*/
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            border-bottom: 1px #FFF solid;
            /* This positions the canvas under the text */
            z-index: 1;
        }

        .card .avatar {
            position: relative;
            margin-top: 15px;
            z-index: 100;
        }

            .card .avatar img {
                width: 100px;
                height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(0,0,30,0.8);
            }

    .customContainer {
        position: absolute;
        margin: 0 auto;
    }

    /* Bottom right text */
    .contentS {
        position: absolute;
        bottom: 0;
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
        z-index: 0;
        box-decoration-break
    }

    .customLeftBtn {
        position: absolute;
        left: 90px;
        bottom: 10px;
    }

    .customRightBtn {
        position: absolute;
        right: 90px;
        bottom: 10px;
    }
</style>

<h2>Courses</h2>
<hr />
@if (TempData["CourseCreated"] != null)
{
    <div class="alert alert-success" id="Success" role="alert">
        @TempData["CourseCreated"]
    </div>
}

@if (this.Context.User.IsInRole("Admin"))
{

    @Html.ActionLink("Create New", "CreateCourse", "Course", null, new { @class = "btn btn-lg btn-warning", style = "color:black; margin-bottom:14px;" })
}

@if (Model is null)
{
    <h3> There isn't any Courses !</h3>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (CourseIndexVm item in Model)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <div class="customContainer">
                            <img class="header-bg" width="250" height="70" src="@item.IconUrl" style="filter:blur(5px);" alt="" />
                        </div>
                        <div class="avatar" style="position:relative;">
                            <img src="@item.IconUrl" alt="" />
                        </div>
                        <div class="content">
                            <div class="contenS">
                                <p style="font-weight:bolder; align-content:center; border:1px solid white; padding:15px; border-radius:20px; margin:12px;"> @item.Name </p>
                            </div>
                            @if (item.Description.Length > 170)
                            {
                                <p style="align-content:center; border:1px dashed white; padding:15px; border-radius:20px; margin:12px;">
                                    @item.Description.Substring(0, 170) ...
                                </p>

                            }
                            else
                            {
                                <p style="align-content:center; border:1px dashed white; padding:15px; border-radius:20px; margin:12px;">
                                    @item.Description
                                </p>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (!item.IsApplyed)
                            {
                                @Html.ActionLink("Apply", "AddStudent", "Course", new { courseId = item.Id }, new { @class = "btn btn-lg btn-success customLeftBtn", Id = item.Id, style = "color:black;" })
                            }
                            else
                            {
                                @Html.ActionLink("Cancel", "RemoveStudent", "Course", new { courseId = item.Id }, new { @class = "btn btn-lg btn-danger customLeftBtn", Id = item.Id, style = "color:black;" })
                            }
                        }

                        @Html.ActionLink("Details", "Details", "Course", new { id = item.Id }, new { @class = "btn btn-lg btn-info customRightBtn", id = item.Id, style = "color:black;" })
                    </div>
                </div>
            }
        </div>
    </div>
}


@*<script>
        (function () {
            $("#Success").delay(2000).fadeOut(2000);
        })();
    </script>*@
