@model MiniLearningSystem.Models.ViewModels.Course.CourseDetailsVm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>

<div>
    <hr />

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" id="Success" role="alert">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-warning" id="Errorr" role="alert">
            @TempData["Error"]
        </div>
    }

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsCount)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id, area = "" }) |*@
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-lg btn-info", style = "color:black;" })

    @if (User.Identity.IsAuthenticated)
    {
        <br />
        if (!Model.IsApplyed)
        {
            @Html.ActionLink("Apply", "AddStudent", "Course", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-success customLeftBtn", courseId = Model.Id, style = "color:black;" })
        }
        else
        {
            @Html.ActionLink("Cancel", "RemoveStudent", "Course", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-danger customLeftBtn", courseId = Model.Id, style = "color:black;" })
        }

        if (User.IsInRole("Admin"))
        {
            <br />
            if (string.IsNullOrWhiteSpace(Model.TrainerName) && string.IsNullOrEmpty(Model.TrainerName))
            {
                @Html.ActionLink("Add Trainer", "AssignTrainer", "Admin", null, new { @class = "btn btn-lg btn-success", style = "color:black;" })

            }
            else
            {
                @Html.ActionLink("Change Trainer", "SetTrainer", "Admin", null, new { @class = "btn btn-lg btn-danger", style = "color:black;" })

            }

        }
    }
</p>