@model MiniLearningSystem.Models.ViewModels.Course.CourseDetailsVm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>

<div>
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" id="Success" role="alert">
            @TempData["Success"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-warning" id="Errorr" role="alert">
            @TempData["Error"]
        </div>
    }

    <h3>@Model.Name</h3>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>

        <dd>
            @if (Model.TrainerName != null)
            {
                <input id="trainer-chat" type="button" style="margin:2px;" value="@Model.TrainerName" />
                //@Ajax.ActionLink(Model.TrainerName,"Chat","Home", new { id = Model.TrainerId }, new AjaxOptions { UpdateTargetId = "chat-popup" })
                //@Html.ActionLink(Model.TrainerName, "Chat", "Home", new { id = Model.TrainerId }, null)
            }

            @*@Html.DisplayFor(model => model.TrainerName)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentsCount)
        </dd>

    </dl>
</div>

<div style="display:normal; margin-bottom: 80px;">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        if (string.IsNullOrWhiteSpace(Model.TrainerName) && string.IsNullOrEmpty(Model.TrainerName))
        {
            <div class="z-depth-4" style="float:right; position:relative;  border:1px solid black; border-radius:20px; padding:8px;">
                <h5 style="text-align:center;">Admin Panel</h5>
                <hr />
                @Html.ActionLink("Add Trainer", "SetTrainer", "Admin", null, new { @class = "btn btn-lg btn-success", style = "color:black;" })
            </div>
        }
        else
        {
            <div style="float:right; position:relative;  border:1px solid black; border-radius:20px; padding:8px;">
                <h5 style="text-align:center;">Admin Panel</h5>
                <hr />
                @Html.ActionLink("Change Trainer", "SetTrainer", "Admin", null, new { @class = "btn btn-lg btn-danger", style = "color:black;" })
            </div>
        }
    }
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id, area = "" }) |*@

    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-lg btn-info", style = "color:black;" })

    <br />
    @if (User.Identity.IsAuthenticated)
    {
        <br />
        if (!Model.IsApplyed)
        {
            <div style="float:left; position:relative;">
                @Html.ActionLink("Apply", "AddStudent", "Course", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-success", courseId = Model.Id, style = "color:black;" })
            </div>
        }
        else
        {
            <div style="float:left; position:relative;">
                @Html.ActionLink("Cancel", "RemoveStudent", "Course", new { courseId = Model.Id }, new { @class = "btn btn-lg btn-danger", courseId = Model.Id, style = "color:black;" })
            </div>
        }
    }
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    (function () {
        $('#trainer-chat').click(function () {
            $.ajax({
                url: '/Home/Chat',
                data: { Id: '@Model.TrainerId' },
                success: function (res) {
                    $('#chat-popup').html(res);
                }
            });
        });
    }());

</script>